<!--for top dropdown menu in popover-->
<ion-popover-view>
    <ion-content>
      <div class="list">
        <a class="item" ng-show="notShowHistory" ng-click="closePopover('history')" >
          History
        </a>
        <a class="item" ng-show="notShowRedeem"  ng-click="closePopover('redeem')">
          Redeem
        </a>
        <a class="item" ng-show="notShowDelete"  ng-click="closePopover('delete')">
          Delete
        </a>
      </div>
    </ion-content>
  </ion-popover-view>
 
<!--end top dropdwon menu-->